.home {
  width: 100%;
  height: 89.7vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 46.46%;
  margin: 0;
  padding: 0;
}

.hero_container {
  width: 80%;
  height: 67.95%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero_text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57.165%;
  height: 68.09%;
}

.hero_text-container > h2 {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  color: #4D4D4D;
}

.hero_text-container > h2 > span {
  color: #4CAF4F;
}

.hero_text-container > p {
  padding: 0;
  margin: 0;
  font-size: 0.174rem;
  color: #717171;
}

.home__button {
  width: 19.58%;
  height: 18.92%;
  border: none;
  border-radius: 2.78px;
  background-color: #4CAF4F;
}

.home__button > span {
  font-size: 0.174rem;
  color: #ffffff;
}

.home__hero_img {
  width: 34.02%;
  height: auto;
}

.home__clients {
  width: 100%;
  height: 14.81%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clients_text-container {
  height: 40.30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clients_text-container > h2 {
  text-align: center;
  margin: 0;
  font-size: 0.392rem;
  color: #4D4D4D;
}

.clients_text-container > p {
  text-align: center;
  margin: 0 auto;
  font-size: 0.174rem;
  color: #717171;
}

.clients_logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 25.14%;
}

.clients_logos > img {
  height: 100%;
  width: auto;
}

.home__community {
  width: 100%;
  height: 32.52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.community_text-container {
  height: 28.98%;
  width: 37.73%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community_text-container > h2 {
  text-align: center;
  margin: 0;
  font-size: 0.392rem;
  color: #4D4D4D;
}

.community_text-container > p {
  text-align: center;
  margin: 0 auto;
  font-size: 0.174rem;
  color: #717171;
}

.community_cards-container {
  width: 80%;
  height: 67.20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.community_card {
  width: 26%;
  height: 92.86%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.community_card > img {
  width: 21.74%;
}

.community_card > h3 {
  width: 77.26%;
  margin: 0;
  padding: 0;
  font-size: 0.304rem;
  color: #4D4D4D;
  text-align: center;
}

.community_card > p {
  width: 83.95%;
  margin: 0;
  padding: 0;
  font-size: 0.152rem;
  color: #717171;
  text-align: center;
}