.main {
  width: 100%;
  height: 156.20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main__unlock {
  width: 80%;
  height: 19.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__unlock > img {
  width: 38.42%;
  height: 75.98%;
}

.unlock__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57.51%;
  height: 62.34%;
}

.unlock__text-container > h2 {
  padding: 0;
  margin: 0;
  width: 90.92%;
  font-size: 0.39rem;
  color: #4D4D4D;
}

.unlock__text-container > p {
  padding: 0;
  margin: 0;
  width: 90.92%;
  font-size: 0.15rem;
  color: #717171;
}

.unlock__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22.84%;
  height: 19.42%;
  background-color: #4CAF4F;
  color: #ffffff;
  font-size: 0.174rem;
  border: none;
  border-radius: 2.78px;
}

.main__achievements {
  width: 100%;
  height: 12.96%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F7FA;
}

.achievements__text-container {
  width: 37.58%;
  height: 41.67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achievements__text-container > h2 {
  margin: 0;
  padding: 0;
  width: 75.56%;
  font-size: 0.39rem;
  color: #4D4D4D;
}

.achievements__text-container > h2 > span {
  color: #4CAF4F;
}

.achievements__text-container > p {
  margin: 0;
  padding: 0;
  height: 20%;
  font-size: 0.174rem;
  color: #4D4D4D;
}

.achievements__grid-container {
  width: 37.59%;
  height: 56.10%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.achievements__grid-container_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.achievements__grid-container_card > img {
  height: 77.70%;
}

.grid-container__card_text-container {
  width: 74.90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.grid-container__card_text-container > h3 {
  margin: 0;
  padding: 0;
  height: 60.47%;
  font-size: 0.3rem;
  color: #4D4D4D;
}

.grid-container__card_text-container > p {
  margin: 0;
  padding: 0;
  height: 39.53%;
  font-size: 0.174rem;
  color: #4D4D4D;
}

.main__calendar {
  width: 80%;
  height: 19.27%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__calendar > img {
  height: 100%;
}

.calendar__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 71.56%;
}

.calendar__text-container > h2 {
  padding: 0;
  margin: 0;
  width: 90.92%;
  font-size: 0.39rem;
  color: #4D4D4D;
}

.calendar__text-container > p {
  padding: 0;
  margin: 0;
  width: 90.92%;
  font-size: 0.15rem;
  color: #717171;
}

.calendar__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22.84%;
  height: 19.42%;
  background-color: #4CAF4F;
  color: #ffffff;
  font-size: 0.174rem;
  border: none;
  border-radius: 2.78px;
}

.main__customers {
  width: 100%;
  height: 17.34%;
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__customers > img {
  height: 83.59%;
}

.customers__text-container {
  width: 52.07%;
  height: 83.59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers__text-container :first-child {
  margin: 0;
  padding: 0;
  font-size: 0.174rem;
  color: #717171;
}

.customers__text-container > h3 {
  margin: 0;
  padding: 0;
  font-size: 0.22rem;
  color: #4CAF4F;
}

.customers__text-container :nth-child(3) {
  margin: 0;
  padding: 0;
  font-size: 0.174rem;
  color: #89939E;
}

.customers__images-container {
  width: 100%;
  height: 14.76%;
  display: flex;
  justify-content: space-between;
}

.customers__images-container > img {
  height: 100%;
}

.customers__button {
  height: 100%;
  width: 29.81%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}

.customers__button :first-child {
  font-size: 0.22rem;
  color: #4CAF4F;
}

.calendar__button > img {
  width: 6.44%;
}

.main__updates {
  width: 80%;
  height: 22.64%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__updates > h2 {
  text-align: center;
  font-size: 0.39rem;
  color: #4D4D4D;
  margin: 0;
  padding: 0;
}

.main__updates > p {
  text-align: center;
  font-size: 0.174rem;
  color: #717171;
  margin: 0;
  padding: 0;
  width: 54.64%;
}

.updates__cards-container {
  width: 100%;
  height: 72.16%;
  display: flex;
  justify-content: space-between;
}

.updates__card {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: column;
}

.updates__card > img {
  width: 100%;
  height: 77.82%;
}

.updates__card_text {
  width: 86.14%;
  min-height: 48.30%;
  height: 48.30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F7FA;
  align-items: center;
  position: relative;
  left: 6.93%;
  bottom: 22.18%;
}

.updates__card_text > h3 {
  width: 89.91%;
  text-align: center;
  font-size: 0.22rem;
  color: #717171;
  margin: 0;
  padding: 0;
}

.updates__button {
  width: 41.24%;
  height: 25.20%;
  display: flex;
  justify-content: space-between;
  background: none;
  align-items: center;
  border: none;
}

.updates__button :first-child {
  color: #4CAF4F;
  font-size: 0.22rem;
}